* {
 margin: 0;
 padding: 0;
 font-family: 'Fira Code', monospace;
}

:root {
  --bg-color: #030008;
  --html-tag-color: #9B51E0;
  --name-color: #6FCF97;
  --text-color: #f4f4f4;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  margin: 0 12%;
  display: flex;
  position: relative;
}

#themeButton {
  height: 56px;
  width: 56px;
  top: 38%;
  right: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#themeButton:focus {
  outline:0;
}

h1 {
  width: 100%;
  padding: 6.5% 0;
  font-size: 44px;
  text-align: center;
}

h2 {
  font-size: 44px;
  text-align: center;
}

.presentation {
  padding: 0 12%;
  display: flex;
  justify-content: space-between;
}

.profileImg {
  width: 47%;
  border-radius: 10px;
  object-fit: cover;
}

.codeText {
  color: var(--text-color);
  width: 44%;
  font-size: 25px;
  text-align: center;
  line-height: 150%;
}

.codeText span {
  color: var(--html-tag-color);
  font-weight: 500;
}

.codeText strong {
  font-weight: normal;
  color: var(--name-color);
}

.techs {
  padding-top: 13.5%;
  padding-bottom: 8%;
}

.techIcons {
  padding: 10% 12% 12%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40%; 
  align-items: center;
}

.icon {
  width: 150px;
  margin: 0 auto;
}

.projectsCards {
  display: flex;
  justify-content: space-between;
  padding: 10% 12% 12%;
}

.projectCard {
  width: 29%;
}

.links {
  padding: 0 12% 12% 12%;
}

.linksCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15%;
  grid-row-gap: 15%;
  align-items: center;
  margin-top: 10%;
}

.linkCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.linkCardDescription {
  width: 60%;
}

.linkCardDescription h3 {
  font-size: 36px;
}

.linkCardDescription p {
  font-size: 22px;
  padding-top: 5%;
}
